<div class="row">
  <div class="col-md-8">
    <h3 class="text-center">Post List</h3>
    <div class="d-flex flex-row-reverse">
      <button class="btn btn-primary" [routerLink]="['/posts/add']">
        Add Post
      </button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let po of postList | async">
          <td>{{ po.id }}</td>
          <td>{{ po.title }}</td>
          <td>{{ po.description }}</td>
          <td>
            <a class="btn btn-link" [routerLink]="['detail', po.id]">Details</a>
            <a class="btn btn-link" [routerLink]="['edit', po.id]">Update</a>
            <a class="btn btn-link" (click)="onDeletePost(po.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
