<div class="row">
  <div class="col-md-12">
    <h3 class="mt-2 mb-0">Add Post</h3>
    <hr />
    <form [formGroup]="addForm" (ngSubmit)="onAddPost()">
      <!-- Title -->
      <div class="mb-3">
        <label for="">Title</label>
        <input type="text" class="form-control" formControlName="title" />
        <div
          *ngIf="addForm.get('title')?.touched && !addForm.get('title')?.valid"
        >
          <div
            *ngIf="addForm.get('title')?.errors?.['required']"
            class="text-danger"
          >
            Title is required
          </div>
          <div
            *ngIf="addForm.get('title')?.errors?.['minlength']"
            class="text-danger"
          >
            Minimum 6 characters are required
          </div>
        </div>
      </div>
      <!-- Description -->
      <div class="mb-3">
        <label for="">Description</label>
        <textarea
          type="text"
          class="form-control"
          formControlName="description"
        ></textarea>
        <div class="text-danger">{{ validateDescription() }}</div>
      </div>
      <!-- Submit -->
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!addForm.valid"
        >
          Submit</button
        >&nbsp;
        <button class="btn btn-warning" type="reset" (click)="onReset()">
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
